<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.huang.luck.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user(userName,userpsd,salt,userAccount,state,balance,avatar)
        values (#{userName},#{userpsd},#{salt},#{userAccount},#{state},#{balance},#{avatar})
    </insert>
    <resultMap id="UserEntityMap" type="com.huang.luck.entity.User">
    </resultMap>
    <select id="findByAccount" resultMap="UserEntityMap">
    SELECT * FROM user WHERE userAccount=#{userAccount}
    </select>
    <select id="findSaltAccount" resultType="string">
    SELECT salt FROM user WHERE userAccount=#{userAccount}
    </select>
    <insert id="AddGoods" useGeneratedKeys="true" keyProperty="sid">
        insert into goods(price,goodspic,goodsName)
        values (#{price},#{goodspic},#{goodsName})
    </insert>
    <resultMap id="GoodsMap" type="com.huang.luck.entity.Goods">
    </resultMap>
    <select id="findByGoodsName" resultMap="GoodsMap">
    SELECT * FROM goods WHERE goodsname=#{goodsname}
    </select>
    <insert id="AddCardGoods" parameterType="com.huang.luck.entity.LuckRecode" useGeneratedKeys="true" keyProperty="cid">
        insert into luckrecode(CardRecode,GoodsName,CreateName,ListName)
        values (#{CardRecode},#{GoodsName},#{CreateName},#{ListName})
    </insert>
    <resultMap id="CardNumsCollection" type="com.huang.luck.entity.LuckRecode">
    </resultMap>
    <select id="CheckRecodeNums" resultMap="CardNumsCollection" >
      select * from luckrecode where GoodsName=#{goodsname} and  ListName=#{listname}
    </select>
    <update id="UpdataGetAccount">
    update luckrecode
    set  UserAccount=#{useraccount}
    where GoodsName = #{goodsname} and ListName= #{listname} and CardRecode=#{cardrecode}
    </update>
    <select id="CheckUserAccountIsNULL" resultMap="CardNumsCollection">
      select useraccount from luckrecode where GoodsName=#{goodsname} and  ListName=#{listname} and CardRecode=#{cardrecode}
    </select>
    <select id="CountUserAccountNum" resultType="integer">
        select count(useraccount) from luckrecode  where UserAccount=#{useraccount}
    </select>
    <select id="CheckUserAccount" resultType="string">
      select useraccount from luckrecode where CardRecode=#{cardrecode}
    </select>


</mapper>